@model Manager_Hotel_Reservations.Models.Reservations

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservations</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservedRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservedRoom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clients)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clients)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckInDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckInDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckOutDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckOutDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BreakfastIncluded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BreakfastIncluded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllInclusive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllInclusive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountToPay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountToPay)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
